.card {
    min-width: 3.5in;
    min-height: 2in;
    --ngx-meishi-font-size: 2.25em;
}

.logo {
    float: inline-end;
}

.name {
    font-size: calc(var(--ngx-meishi-font-size) * 0.75);
    text-align: start;
    justify-items: start;
}

.title {
    font-size: calc(var(--ngx-meishi-font-size) * 0.5);
    text-align: start;
    justify-items: start;
}

.contact {
    font-size: calc(var(--ngx-meishi-font-size) * 0.25);
    text-align: end;
    justify-items: end;
}