<!-- <ngx-meishi class="meishi" [rotate]="true" [size]="{ width:'350px', height:'200px' }" [content]="{name:'Full Name', title:'title', logo:'assets/ngx-meishi-logo.png', phone:'123-456-7890', email:'example@email.com', web:'www.example.com', location:'123 Anywhere St.,Any City,ST 12345'}"> -->
<ngx-meishi class="meishi" [rotate]="true" [size]="{ width:'350px', height:'200px' }">
  <mat-grid-list cols="2" rowHeight="3.5:2">
    <mat-grid-tile rowspan="2">
      <div class="logo">
        <img src="assets/ngx-meishi-logo.png" width="100%">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p class="name">Full Name</p>
        <p class="title">Title</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="contact">
        <p>123-456-7890</p>
        <p>example@email.com</p>
        <p>www.example.com</p>
        <p>123 Anywhere St.,Any City,ST 12345</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</ngx-meishi>