.meishi {
    --font-size: calc(2.25em * 0.9);
}

.logo {
    width: 75%;
    float: inline-end;
}

.name {
    font-size: calc(var(--font-size) * 0.75);
    text-align: start;
    justify-items: start;
}

.title {
    font-size: calc(var(--font-size) * 0.5);
    text-align: start;
    justify-items: start;
}

.contact {
    font-size: calc(var(--font-size) * 0.25);
    text-align: end;
    justify-items: end;
}